<template>
  <form class="box"
        method="POST"
        :action="endpoint"
        @submit.prevent="formSend">
    <!-- eslint-disable max-len -->
    <b-field label="Nombre">
      <b-input v-model="model.Nombre"
               type="text"
               name="Nombre"
               required />
    </b-field>
    <b-field label="Correo">
      <b-input v-model="model.Correo"
               type="email"
               name="Correo"
               required />
    </b-field>
    <b-field label="Teléfono">
      <b-input v-model="model.Teléfono"
               type="tel"
               name="Teléfono"
               required />
    </b-field>
    <b-field label="Fecha de la cita">
      <b-datepicker v-model="model.FechaDeCita" />
    </b-field>
    <div class="field">
      <b-checkbox v-model="TOS"
                  :required="true">
        Acepto el
        <nuxt-link to="/aviso-privacidad">
          Aviso de privacidad
        </nuxt-link>
      </b-checkbox>
    </div>
    <div class="field is-grouped is-grouped-right">
      <p class="control">
        <button class="button"
                type="button"
                @click="$emit('close')">
          Cancelar
        </button>
      </p>
      <p class="control">
        <button type="submit"
                class="button is-primary">
          Enviar
        </button>
      </p>
    </div>

    <b-loading :active="isLoading" />
  </form>
</template>

<script>
import formMixin from '~/mixins/form-mixin'

export default {
  name: 'FormCita',
  mixins: [formMixin],
  data: () => ({
    model: {
      FechaDeCita: new Date(),
    },
  }),
  mounted() {
    this.$on('success', payload => {
      this.$dialog.alert({
        hasIcon: true,
        icon: 'check-circle ',
        iconPack: 'fal',
        message: `Tu solicitud se envió correctamente ${payload.Nombre}`,
        type: 'is-success',
      })
    })
  },
}
</script>

<style>
</style>
