<template>
  <div class="page--index">
    <div class="hero is-halfheight is-info">
      <div class="hero-head">
        <div class="container">
          <div class="tabs">
            <ul>
              <li
                v-for="(tab, index) in tabs"
                :key="index"
                :class="tab.tag === activeTab ? 'is-active' : ''"
                @click="activeTab = tab.tag">
                <a>
                  <b-icon icon="plus" />
                  {{ tab.tag }}
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="hero-body">
        <div class="container">
          <transition name="page">
            <div
              v-for="tab in filteredTabs"
              :key="tab.color"
              :class="['notification', `is-${tab.color}`]">
              <h1 class="title has-text-centered">
                Content of {{ tab.tag }}
              </h1>
            </div>
          </transition>
        </div>
      </div>
    </div>
    <section class="section">
      <div class="container">
        <b-tabs>
          <b-tab-item label="Formulario"
                      icon="user">
            <h1 class="title">
              Formulario
            </h1>
            <form-generic />
          </b-tab-item>
        </b-tabs>
      </div>
    </section>
    <section class="section">
      <div class="container">
        <h1 class="title">
          Imagenes responsivas
        </h1>
        <base-card class="is-horizontal is-reverse">
          <image-responsive
            slot="image"
            src="placeholder/example.jpg"
            alt="Imagen de desmostración" />
          <h2 class="title">
            Imagenes responsivas locales
          </h2>
        </base-card>
        <base-card class="is-horizontal is-mobile">
          <image-cloud
            slot="image"
            width="auto"
            responsive
            fetch-format="auto"
            quality="auto"
            src="darila/promociones.darilamexico.com/navidad.jpg" />
          <h2 class="title is-size-6-mobile">
            Imagenes responsivas con cloudinary
          </h2>
        </base-card>
      </div>
    </section>
  </div>
</template>

<script>
import FormGeneric from '~/components/Form/Generic.vue'
import ImageResponsive from '~/components/ImageResponsive.vue'
import ImageCloud from '~/components/ImageCloud.vue'
import BaseCard from '~/components/BaseCard.vue'

export default {
  head() {
    return {
      title: 'Plantilla de dinamo',
    }
  },
  components: {
    FormGeneric,
    ImageResponsive,
    ImageCloud,
    BaseCard,
  },
  data: () => ({
    activeTab: 'Music',
    tabs: [
      { tag: 'Music', color: 'danger' },
      { tag: 'Videos', color: 'primary' },
      { tag: 'Documents', color: 'black' },
      { tag: 'Pictures', color: 'warning' },
    ],
  }),
  computed: {
    filteredTabs() {
      return this.tabs.filter(({ tag }) => tag === this.activeTab)
    },
  },
}
</script>
